@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin normal_A {
    color: black;
    text-decoration: none;
}
@mixin awesome {
    font-family: Arial, FontAwesome;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

$page-width: 1920px;

html, *{
    padding: 0;
    margin: 0;
}
#root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

#head{
    width: $page-width;
    height: 145px;
    background-color: #ffffff;
    @include flex-center();
    flex-direction: column;
    
    .first-level{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 15px auto 0 auto;
    
        .title{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 184px;
            height: 45px;
            

            .title-company{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            h1{
                width: 147px;
                font-size: 17px;
                font-weight: bold;
                margin-left: 7px;
            }
            h2{
                width: 102px;
                font-size: 10px;
                font-weight: bold;
            }
        }
        .search-input{
            width: 510px;
            height: 50px;
            background-color: #F1F4F9;
            border-radius: 10px;
            padding-left: 50px;
            border: none;
            font-family: Arial, FontAwesome;
            font-size: 15px;
        }
        .phone{
            @include flex-center();
            width: 180px;
            font-family: Arial, FontAwesome;
            font-size: 17px;
            margin-left: 20px;
        }
        .call{
            @include flex-center();
            width: 190px;
            height: 50px;
            background-color: #F1F4F9;
            font-size: 22px;
            margin-left: 15px;
            border-radius: 5px;
            .call-text{
                color: black;
                text-decoration: none;
            }
        }
    }
    .second-level{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 15px auto 0 auto;
        .nav-list{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .nav-list-items{
                @include flex-center();
                @include normal_A();
                width: 155px;
                height: 45px;
            }
            .catalog{
                font-family: Arial, FontAwesome;
                background-color: #373E54;
                color: #F1F4F9;
                border-radius: 5px;
            }
        }
        .loc-basket{
            @include flex-row();
            margin-left: 140px;
            .location{
                font-size: 15px;
                @include flex-row();
                    .location-icon{
                        @include awesome();
                        margin-right: 5px;
                    }
                    #locations{
                        border: none;
                    }
            }
            .basket{
                @include flex-row();
                margin-left: 10px;
                .basket-item{
                    @include awesome();
                    .basket-count{
                        border-radius: 10px;
                        padding: 1px 6px;
                        background-color: #0074D4;
                        color: white;
                    }
                }
            }
        }
    }
}


/*-------------------------------РЕКЛАМА-----------------------------------------------*/
.advertising{
    width: $page-width;
    height: 640px;
    background: content-box url("img/background-slider.png");
    @include flex-center();

    .slide{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        box-shadow: 0px 12px 10px rgba(68, 88, 104, 0.25);
        background-color: #FFFFFF;
    }
    .slide-right{
        position: relative;
        right: 50px;
    }
    .slide-left{
        position: relative;
        left: 50px;
    }
    .title-advertising{
        width: 620px;
        margin-left: 300px;
        .title-advertising-description{
            color: #2B3350;
            font-size: 54px;
            
            .flag{
                position: relative;
                top: 14px;
                width: 75px;
                height: 55px;
            }
        }
        .title-advertising-description-add{
            color: #2B3350;
            font-size: 22px;
            margin-top: 20px;
            line-height: 34px;
        }
        .title-entry{
            width: 300px;
            height: 85px;
            background-color: #0074D4;
            color: white;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            margin-top: 50px;
            box-shadow: 0px 2px 10px #0074D4;
        }
    }
    .tite-image{
        width: 425px;
        height: 600px;
    }
    .tite-image-2{
        width: 455px;
        height: 505px;
        filter: blur(2px);
        position: relative;
        right: 40px;
    }

}

/*------------------------------------Promoution------------------------------------------*/

.promoution-wrap{
    @include flex-center();
    background-color: #ffffff;
    width: $page-width;
    height: 300px;
    .promoution-delivery{
        width: 365px;
        margin: 0 50px 0 50px;
        @include flex-center();
        flex-direction: column;
        .promoution-delivery-img{
            @include flex-center();
            position: relative;
            left: 30px;
            .promoution-delivery-img-basic{
                z-index: 1;
            }
            .promoution-delivery-img-background{
            position: relative;
            left: -30px;
            top: 30px;
            z-index: 0;
            }
        }
        .promoution-delivery-text{
            position: relative;
            z-index: 1;
            margin-top: 10px;
            font-size: 22px;
                p{
                    text-align: center;
                }
        }
        .promoution-delivery-text-support{
            margin-top: 5px;
            .promoution-link{
                @include normal_A();
                color: #959FB2;
                font-size: 15px;
            }
        }
    }

}

/*---------------------------------------------------------------Catalog---------------------------------------------*/

/*--------------------Selects---------------*/
.catalog-wrap{
    width: $page-width;
    @include flex-center();
    background-color: white;
    flex-direction: column;

    .catalog-title{
        color: #2B3350;
        font-size: 44px;
        font-weight: bold;
    }
    .catalog-lists-selects{
        @include flex-row();
        width: 65%;
        margin-top: 35px;
        .catalog-list-selects{
            width: $page-width;
            @include flex-center();
            .select-back{
                width: 280px;
                height: 60px;
                border: #E7EAEF solid 1px;
                border-radius: 8px;
                .select-back-title{
                    color: #959AAE;
                    font-size: 14px;
                    position: relative;
                    top: -11px;
                    left: 25px;
                    background-color: white;
                }
                .select-zone{
                    @include flex-row();
                    .select-img{
                        margin-left: 30px;
                    }
                    select{
                        font-size: 14px;
                        font-weight: bold;
                        color: #2B3350;
                        border: none;
                        width: 70%;
                        margin-left: 10px;
                    }
                }
                
            }
        }
    }
    .view-all-chair{
        width: 1170px;
        height: 80px;
        margin-top: 70px;
        @include flex-center();
        border-radius: 10px;
        background-color: #F3F4F7;
        .show-all-chair{
            @include normal_A();
            font-size: 18px;
            font-weight: 600;
        }
    }
}

/*-------------items-------------------*/
.chair-wrap{
@include flex-center();
width: $page-width;
    .chair-items-wrap{
        display: grid;
        grid-template-columns: repeat(4, 330px);
        .chair-items{
            width: 330px;
            text-align: center;
            margin: 10px 5px 0 5px;
            @include flex-center();
            flex-direction: column;
            .chair-img{
                width: 280px;
                height: 300px;
            }
            .chair-description{
                font-size: 20px;
                width: 280px;
            }
            .chair-price{
                width: 280px;
                font-size: 24px;
                font-weight: bold;
            }
            .chair-last-price{
                font-size: 20px;
                font-weight: 700;
                position: relative;
                left: 38px;
            }
            .cross-price{
                position: relative;
                left: -68px;
            }
        }
    }
}

/*--------------------------Specials-------------------------------*/
.specials-wrap{
    width: $page-width;
    margin-top: 50px;
    @include flex-center();
    flex-direction: column;
    background: #f3f4f769;
    .special-title{
        width: 1180px;
        margin-top: 50px;
        @include flex-center();
        text-align: center;
        flex-direction: column;
        .special-title-primary{
            font-size: 44px;
            font-weight: 900;
            color: #2B3350;
        }
        .special-title-secondary{
            margin-top: 10px;
            font-size: 22px;
            font-weight: 600;
            color: #576077;
        }
    }
    .special-desctiption-wrap{
        display: flex;
        flex-direction: row;
        .specials-decription{
            display: grid;
            grid-template-columns: repeat(2, 400px);
            column-gap: 295px;
            margin-top: 90px;
            .specials-item{
                width: 400px;
                text-align: left;
                height: 100px;
                color: #2b33504b;
                h1{
                    font-size: 22px;
                }
                h2{
                    font-size: 15px;
                }
            }
            .active{
                color: #2B3350
            }
        }
        .box-img{
            position: relative;
            .special-description-img{
                position: absolute;
                left: 180px;
                top: -500px;
                width: 685px;
                height: 560px;
            }
        }
            
    }

}

/*------------------------------------test-drive-----------------------------------------------------------*/
.test-wrap{
    @include flex-center();
    margin-top: 150px;
    .test-drive-wrap{
        @include flex-center();
        width: 1800px;
        height: 515px;
        border-radius: 15px; 
        background-image: url("https://s3-alpha-sig.figma.com/img/e62a/2ba9/f57e72a5576c76165bb8c77b76f78737?Expires=1659312000&Signature=HdijazS4ltmBqN3WPHNH2kVZTVba~tayG5oVVXSGwTyNyJQZpPAKGQELh2V1-FtexjeklPB5~gevQzV9DTwj-tcDUGu7uN0jezazDB839tlznFZjsi-mWeSyRrWZ2nTbH2sQ6X7zcfN7iB1NEU6~Q9t9ftVF75Lq9NShWMVs4QSsmzfB4aZ7~nGyuS4wpaodwJW~bRm6mdkYnosGlAiwM5nQZFBDqoAfb4aGN~fo9tWEjBLIkVLXDLUWDzB9rZoQ75m-yc5jAKrd2Sf87008IK9qUngCMl3zYOcf-yuOFWpnnt1l1oxMJoTCEUU~koXVFdgV9Rj~93JGmqevUIsPkQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
        background-position: -100px 700px;
        transform: scale(-1, 1);
        .transform-test-drive{
            transform: scale(-1, 1);
            display: flex;
            flex-direction: row;
            .title-test-drive{
                width: 620px;
                margin-left: 300px;
                margin-top: 90px;
                .title-test-drive-description{
                    width: 680px;
                    color: #2B3350;
                    font-size: 44px;
                    line-height: 55px;
                    font-weight: 800;
                }
                .title-test-drive-description-add{
                    width: 580px;
                    height: 90px;
                    color: #576077;
                    font-size: 19px;
                    font-weight: 700;
                    margin-top: 16px;
                    line-height: 34px;
                }
                .title-entry{
                    width: 300px;
                    height: 85px;
                    background-color: #0074D4;
                    color: white;
                    font-size: 18px;
                    border: none;
                    border-radius: 5px;
                    margin-top: 30px;
                    box-shadow: 0px 2px 10px #0074D4;
                }
            }
            .tite-image{
                width: 233px;
                height: 366px;
                position: relative;
                top: 55px;
                left: -40px;
            }
            .tite-image-2{
                width: 535px;
                height: 570px;
                position: relative;
                top: -45px;
                left: -150px;
            }
        }
    }
}

/*-------------------------------------------client---------------------------------------------------*/
.client-wrap{
    @include flex-center();
    width: $page-width;
    flex-direction: column;
    margin-top: 95px;
    .client-title{
        font-size: 44px;
        color: #2B3350;
    }
    .client-list{
        @include flex-center();
        float: left;
        margin-top: 45px;
        img{
            margin-left: 20px;
            margin-right: 20px;
        }
        #client-1{
            width: 140px;
            height: 50px;
        }
        #client-2{
            width: 140px;
            height: 100px;
        }
        #client-3{
            width: 200px;
            height: 40px;
        }
        #client-4{
            width: 200px;
            height: 65px;
        }
        #client-5{
            width: 205px;
            height: 50px;
        }
        #client-6{
            width: 140px;
            height: 50px;
        }
    }
}

/*------------------------------------review---------------------------------------*/
.reviews-wrap{
    @include flex-center();
    width: $page-width;
    margin-top: 100px;
    flex-direction: column;
    .review-tietle{
        font-size: 44px;
        color: #2B3350;
    }
    .review-items{
        @include flex-center();
        flex-direction: row;
        .slide{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            box-shadow: 0px 0px 10px rgba(0, 116, 212, 0.35);
            background-color: #FFFFFF;
        }
        .slide-right{
            position: relative;
            left: -40px;
        }
        .slide-left{
            position: relative;
            left: 40px;
        }
        .review-item{
            width: 570px;
            border-radius: 15px;
            box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
            margin: 30px 15px 0 15px;
            .review-item-top{
                display: flex;
                flex-direction: row;
                margin: 40px 40px 10px;
                .client-photo{
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                    border-radius: 50%;
                    object-fit:cover;
                }
            }
            .client-review-text{
                margin-left: 40px;
                p{
                    font-size: 16px;
                    color:#2B3350;
                    width: 480px;
                }
                .client-review-text-main-all{
                    margin: 15px 0 40px 0;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }
}
/*------------------------------------------------------question----------------------------------------------------*/
.question-wrap{
    @include flex-center();
    width: $page-width;
    flex-direction: column;
    margin: 150px 0 430px 0 ;
    .question-call-background{
        background-image: url('https://s3-alpha-sig.figma.com/img/a76b/71b7/5a5663a0ffd8ecefb060a7cf849c0dcd?Expires=1659312000&Signature=HT2sb8UXdOx4NisNTcOe3AJz5K0YRarZ0azfDwk75vFHkkNeU8OgEXyJxesCWkfMM3P1x4bMEjAjZM6UD-kSbvm-XHS3DA9MIdxg4z~3nL~JR8izOperBGxuhkglk9mnpiXI4O3k6m~nRTktxT18DwqNAACqwx-KMnqARHiAKqaW3jhHD3HSwh5tnXdGDW-NWRk50vNgtE10-dflQLajS9kTtAMwdhfgZG1uyFRmsm5OXdBIPSqak02wuCGxfWPJXf-w0JWn6n0HwjAMLa6lOj7dHWaU~drdKtUs7gxhO5OH4AK9wpDVg7JAj6fxGuvU9pE8~EKoasp1u6M~HBL8hw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
        border-radius: 15px;
        .question-call-wrap{
            width: 1800px;
            height: 530px;
            
            background-color: #2b3350ea;
            border-radius: 15px;
            .question-call-description{
                @include flex-center();
                flex-direction: row;
                .question-call-description-text{
                    width: 570px;
                    color: white;
                    position: relative;
                    left: -130px;
                    top: -75px;
                    h2{
                        font-size: 44px;
                        font-weight: 900;
                    }
                    h3{
                        font-size: 26px;
                        margin-top: 10px;
                    }
                }
                .question-call-description-img{
                    width: 422px;
                    height: 530px;
                    .hand-phone{
                        width: 100%;
                        height: 100%;
                        filter: blur(5px);
                    }
                }
            }
            .contact-form{
                @include flex-center();
                flex-direction: row;
                position: relative;
                top: -245px;
                .contact-name{
                    width: 420px;
                    @include awesome();
                    background-color: #5760776c;
                    padding: 30px 0 30px 50px;
                    border-radius: 15px;
                    border: none;
                    margin-left: 20px;
                    box-shadow: 0px 6px 16px rgba(255, 255, 255, 0.08);
                }
                .contact-name::placeholder{
                    color: white;
                    font-size: 18px;
                }
                .order-call{
                    width: 300px;
                    height: 75px;
                    color: white;
                    border-radius: 15px;
                    border: none;
                    background-color: #0074D4;
                    margin-left: 20px;
                    font-size: 18px;
                    box-shadow: 0px 43px 50px rgba(0, 116, 212, 0.2);
                }

            }
        }
    }
    .map{
        position: absolute;
        top: 4415px;
        z-index: -2;
        width: $page-width;
    }
        .map-point{
            width: 60px;
            height: 60px;
            position: absolute;
            top: 4915px;
            z-index: -1;
        }
    
}
/*------------------------------------------footer---------------------------------------------------*/
footer{
    width: $page-width;
    height: 280px;
    background-color: #191E32;
    @include flex-center();
    flex-direction: row;
    .footer-title{
        width: 220px;
        .title-company{
            .title{
                display: flex;
                flex-direction: row;
                h1{
                    color: white;
                    font-size: 24px;
                    margin-left: 10px;
                }
            }
            h2{
                font-size: 10px;
                color: #959AAE;
                margin-left: 40px;
            }
        }
        .footer-title-item{
            padding-bottom: 5px;
            color: #959AAE;
            font-size: 14px;
        }
        .politic-conf{
            margin-top: 15px;
        }
        .guard-rule{
            margin-top: 5px;
        }
    }
    .footer-nav{
        display: flex;
        flex-direction: column;
        a{
            @include normal_A();
            font-size: 17px;
            margin: 10px 0 0 75px;
            color: #E7EAEF;
            line-height: 15px;
            
        }
    }
    .footer-contact{
        display: flex;
        flex-direction: column;
        a{
            @include normal_A();
            @include awesome();
            font-size: 17px;
            color: #E7EAEF;
            margin: 15px 0 0 115px ;
            line-height: 15px;
        }
        .phone{
            font-size: 20px;
        }
    }
    
    
}
}