@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin normal_A {
    color: black;
    text-decoration: none;
}
@mixin awesome {
    font-family: Arial, FontAwesome;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

$page-width: 1920px;

html, *{
    padding: 0;
    margin: 0;
    font-family: Inter;
}

/*-------------------------------------------Header--------------------------------------------------*/
#root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    #head{
        width: $page-width;
        height: 145px;
        background-color: #ffffff;
        @include flex-center();
        flex-direction: column;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
        .first-level{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 15px auto 0 auto;
        
            .title{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 184px;
                height: 45px;
                

                .title-company{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                h1{
                    width: 147px;
                    font-size: 17px;
                    font-weight: bold;
                    margin-left: 7px;
                }
                h2{
                    width: 102px;
                    font-size: 10px;
                    font-weight: bold;
                }
            }
            .search-input{
                width: 510px;
                height: 50px;
                background-color: #F1F4F9;
                border-radius: 10px;
                padding-left: 50px;
                border: none;
                font-family: Arial, FontAwesome;
                font-size: 15px;
            }
            .phone{
                @include flex-center();
                width: 180px;
                font-size: 17px;
                margin-left: 20px;
                .phone-number{
                    font-family: Arial, FontAwesome;
                }
            }
            .call{
                @include flex-center();
                width: 190px;
                height: 50px;
                background-color: #F1F4F9;
                font-size: 22px;
                margin-left: 15px;
                border-radius: 5px;
                .call-text{
                    color: black;
                    text-decoration: none;
                }
            }
        }
        .second-level{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 15px auto 0 auto;
            .nav-list{
                display: flex;
                flex-direction: row;
                justify-content: center;
                .nav-list-items{
                    @include flex-center();
                    @include normal_A();
                    width: 155px;
                    height: 45px;
                }
                .catalog{
                    font-family: Arial, FontAwesome;
                    background-color: #373E54;
                    color: #F1F4F9;
                    border-radius: 5px;
                }
            }
            .loc-basket{
                @include flex-row();
                margin-left: 140px;
                .location{
                    font-size: 15px;
                    @include flex-row();
                        .location-icon{
                            @include awesome();
                            margin-right: 5px;
                        }
                        #locations{
                            border: none;
                        }
                }
                .basket{
                    @include flex-row();
                    margin-left: 10px;
                    .basket-item{
                        @include awesome();
                        .basket-count{
                            border-radius: 10px;
                            padding: 1px 6px;
                            background-color: #0074D4;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    /*-------------------------------------Switch----------------------------------*/
    .switch-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        width: $page-width;
        .switch-line{
            position: relative;
            right: 405px;
            span{
                font-size: 15px;
                color: #576077;
                
            }
            .active{
                color: #959AAE;
            }
            svg{
                margin: 0 10px;
            }
        }
    }
    /*------------------------------------------------Описание--------------------------------------------------------*/
    .description-wrap{
        @include flex-center();
        width: $page-width;
        flex-direction: column;
        box-shadow: 0px  15px 15px -10px #E7EAEF;
        .main-description-wrap{
            @include flex-center();
            flex-direction: row;
            margin-top: 25px;
            .description-img{
                width: 625px;
                height: 625px;
                border: solid 1px #E7EAEF;
                border-radius: 15px;
                @include flex-center();
                img{
                    width: 390px;
                    height: 590px;
                }
            }
            .sale-description{
                display: flex;
                flex-direction: column;
                width: 520px;
                height: 630px;
                margin-left: 45px;
                .title-description{
                    h1{
                    font-size: 32px;
                    color: #2B3350;
                    font-weight: 700;
                    }
                }
                .secondary-description{
                    margin-top: 10px;
                    h2{
                    font-size: 18px;
                    color: #576077;
                    }
                }
                .color-description{
                    margin-top: 20px;
                    font-size: 17px;
                    color: #959AAE;
                }
                .choise-img{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 5px;
                    .description-img-choise{
                        overflow: hidden;
                        border: 2px solid #E7EAEF;
                        border-radius: 15px;
                        margin-right: 10px;
                        width: 75px;
                        height: 75px;
                        img{
                            width: 165px;
                            height: 260px;
                            position: relative;
                            top: -105px;
                            left: -30px;
                        }
                    }
                    .active{
                        border: 3px solid #0074D4;
                        box-shadow: 0px 5px 10px rgba(91, 163, 222, 0.35);
                    }
                }
                .function-description{
                    display: flex;
                    flex-direction: column;
                    margin-top: 25px;
                    span{
                        font-size: 17px;
                        color: #959AAE;
                    }
                    p{
                        font-size: 18px;
                        color: #576077;
                    }
                }
                .description-price{
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;
                    p{
                        font-size: 30px;
                        color: #2B3350;
                        font-weight: 900;
                        
                    }
                    span{
                        font-size: 38px;
                        color: #2B3350;
                        font-weight: 900;
                    }
                    svg{
                        position: relative;
                        top: 25px;
                        left: -10px;
                    }
                }
                .description-add-to-basket{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 25px;
                    .add-to-basket{
                        width: 295px;
                        height: 80px;
                        background-color: #0074D4;
                        color: #FFFFFF;
                        @include awesome();
                        font-size: 18px;
                        border-radius: 10px;
                        border: none;
                        box-shadow: 0px 12px 15px rgba(0, 116, 212, 0.241);
                        
                    }
                    .count-to-basket{
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        background-color: #FFFFFF;
                        border: 2px solid #E7EAEF;
                        margin: 0 15px 0 15px;
                        .plus{
                            position: relative;
                            top: 3px;
                        }
                        .minus{
                            position: relative;
                            top: -2px;
                        }
                    }
                    .count-to-basket:hover{
                        background-color: #E7EAEF;
                        .svg{
                            color: #959AAE;
                        }
                    }
                    span{
                        font-size: 22px;
                        color: #191E32;
                    }
                }
            }
        }
        .description-photo-wrap{
            @include flex-center();
            width: $page-width;
            margin-top: 15px;
            .description-photo{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: start;
                width: 1180px;
                .description-photo-choise{
                    width: 90px;
                    height: 90px;
                    overflow: hidden;
                    border: 1px solid #E7EAEF;
                    border-radius: 10px;
                    #photo-1{
                        width: 55px;
                        position: relative;
                        left: 20px;
                    }
                    #photo-2{
                        width: 165px;
                        position: relative;
                        top: -105px;
                        left: -25px;
                    }
                    #photo-3{
                        width: 210px;
                        position: relative;
                        left: -110px;
                        top: -160px;
                    }
                    #photo-4{
                        width: 225px;
                        position: relative;
                        top: -265px;
                        left: -45px;
                    }
                }
                .description-photo-choise:not(:first-child){
                    margin: 0 10px 0 10px;
                }
            }
        }
        .description-text-wrap{
            width: $page-width;
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-top: 100px;
            margin-bottom: 65px;
            .primary-description-text{
                width: 530px;
                margin-right: 50px;
                h1{
                    font-size: 28px;
                    color: #2B3350;
                }
                .description-text{
                    margin-top: 10px;
                    font-size: 16px;
                    color: #576077;
                    font-weight: 400;
                    line-height: 30px;
                }
                .description-deploy{
                    font-size: 16px;
                    color: #0074D4;
                    margin-top: 10px;
                }
            }
            
            .secondary-description-text{
                margin-left: 25px;
                .characteristics-description-text{
                    display: grid;
                    grid-template-columns: repeat(2, 305px);
                    grid-template-rows: repeat(4, 43px);
                    .description-text:first-child{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
        /*---------------------------------------------------------------Catalog---------------------------------------------*/

    /*--------------------Selects---------------*/
    .catalog-wrap{
        width: $page-width;
        @include flex-center();
        background-color: white;
        flex-direction: column;
    
        .catalog-title{
            width: 1800px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            color: #2B3350;
            .primary-catalog-title{
                display: flex;
                justify-content: start;
                align-items: center;
                width: 715px;
                h1{
                    font-size: 28px;
                    font-weight: bold;
                }
            }
            .sort-catalog{
                display: flex;
                justify-content: end;
                align-items: center;
                width: 500px;
                select{
                    border: none;
                    font-size: 18px;
                }
            }
            
        }
        .catalog-lists-selects{
            @include flex-row();
            width: 65%;
            margin-top: 35px;
            .catalog-list-selects{
                width: $page-width;
                @include flex-center();
                .select-back{
                    width: 280px;
                    height: 60px;
                    border: #E7EAEF solid 1px;
                    border-radius: 8px;
                    .select-back-title{
                        color: #959AAE;
                        font-size: 14px;
                        position: relative;
                        top: -11px;
                        left: 25px;
                        background-color: white;
                    }
                    .select-zone{
                        @include flex-row();
                        .select-img{
                            margin-left: 30px;
                        }
                        select{
                            font-size: 14px;
                            font-weight: bold;
                            color: #2B3350;
                            border: none;
                            width: 70%;
                            margin-left: 10px;
                        }
                    }
                    
                }
            }
        }
        .view-all-chair{
            width: 1170px;
            height: 80px;
            margin-top: 70px;
            @include flex-center();
            border-radius: 10px;
            background-color: #F3F4F7;
            .show-all-chair{
                @include normal_A();
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
    
    /*-------------items-------------------*/
    .chair-wrap{
    @include flex-center();
    width: $page-width;
        .chair-items-wrap{
            display: grid;
            grid-template-columns: repeat(4, 330px);
            .chair-items{
                width: 330px;
                text-align: center;
                margin: 10px 5px 0 5px;
                @include flex-center();
                flex-direction: column;
                .chair-img{
                    width: 280px;
                    height: 300px;
                }
                .chair-description{
                    font-size: 20px;
                    width: 280px;
                }
                .chair-price{
                    width: 280px;
                    font-size: 24px;
                    font-weight: bold;
                }
                .chair-last-price{
                    font-size: 20px;
                    font-weight: 700;
                    position: relative;
                    left: 38px;
                }
                .cross-price{
                    position: relative;
                    left: -68px;
                }
            }
        }
    }
    /*-----------------------------------------------question----------------------------------------------------------*/
    .question-wrap{
        @include flex-center();
        width: $page-width;
        flex-direction: column;
        margin: 150px 0 430px 0 ;
        .question-call-background{
            background-image: url('https://s3-alpha-sig.figma.com/img/a76b/71b7/5a5663a0ffd8ecefb060a7cf849c0dcd?Expires=1659312000&Signature=HT2sb8UXdOx4NisNTcOe3AJz5K0YRarZ0azfDwk75vFHkkNeU8OgEXyJxesCWkfMM3P1x4bMEjAjZM6UD-kSbvm-XHS3DA9MIdxg4z~3nL~JR8izOperBGxuhkglk9mnpiXI4O3k6m~nRTktxT18DwqNAACqwx-KMnqARHiAKqaW3jhHD3HSwh5tnXdGDW-NWRk50vNgtE10-dflQLajS9kTtAMwdhfgZG1uyFRmsm5OXdBIPSqak02wuCGxfWPJXf-w0JWn6n0HwjAMLa6lOj7dHWaU~drdKtUs7gxhO5OH4AK9wpDVg7JAj6fxGuvU9pE8~EKoasp1u6M~HBL8hw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
            border-radius: 15px;
            .question-call-wrap{
                width: 1800px;
                height: 530px;
                
                background-color: #2b3350ea;
                border-radius: 15px;
                .question-call-description{
                    @include flex-center();
                    flex-direction: row;
                    .question-call-description-text{
                        width: 570px;
                        color: white;
                        position: relative;
                        left: -130px;
                        top: -75px;
                        h2{
                            font-size: 44px;
                            font-weight: 900;
                        }
                        h3{
                            font-size: 26px;
                            margin-top: 10px;
                        }
                    }
                    .question-call-description-img{
                        width: 422px;
                        height: 530px;
                        .hand-phone{
                            width: 100%;
                            height: 100%;
                            filter: blur(5px);
                        }
                    }
                }
                .contact-form{
                    @include flex-center();
                    flex-direction: row;
                    position: relative;
                    top: -245px;
                    .contact-name{
                        width: 420px;
                        @include awesome();
                        background-color: #5760776c;
                        padding: 30px 0 30px 50px;
                        border-radius: 15px;
                        border: none;
                        margin-left: 20px;
                        box-shadow: 0px 6px 16px rgba(255, 255, 255, 0.08);
                    }
                    .contact-name::placeholder{
                        color: white;
                        font-size: 18px;
                    }
                    .order-call{
                        width: 300px;
                        height: 75px;
                        color: white;
                        border-radius: 15px;
                        border: none;
                        background-color: #0074D4;
                        margin-left: 20px;
                        font-size: 18px;
                        box-shadow: 0px 43px 50px rgba(0, 116, 212, 0.2);
                    }
    
                }
            }
        }
        .map{
            position: absolute;
            top: 2325px;
            z-index: -2;
            width: $page-width;
        }
            .map-point{
                width: 60px;
                height: 60px;
                position: absolute;
                top: 2820px;
                z-index: -1;
            }
        
    }
    /*------------------------------------------footer---------------------------------------------------*/
    footer{
        width: $page-width;
        height: 280px;
        background-color: #191E32;
        @include flex-center();
        flex-direction: row;
        .footer-title{
            width: 220px;
            .title-company{
                .title{
                    display: flex;
                    flex-direction: row;
                    h1{
                        color: white;
                        font-size: 24px;
                        margin-left: 10px;
                    }
                }
                h2{
                    font-size: 10px;
                    color: #959AAE;
                    margin-left: 40px;
                }
            }
            .footer-title-item{
                padding-bottom: 5px;
                color: #959AAE;
                font-size: 14px;
            }
            .politic-conf{
                margin-top: 15px;
            }
            .guard-rule{
                margin-top: 5px;
            }
        }
        .footer-nav{
            display: flex;
            flex-direction: column;
            a{
                @include normal_A();
                font-size: 17px;
                margin: 10px 0 0 75px;
                color: #E7EAEF;
                line-height: 15px;
                
            }
        }
        .footer-contact{
            display: flex;
            flex-direction: column;
            a{
                @include normal_A();
                @include awesome();
                font-size: 17px;
                color: #E7EAEF;
                margin: 15px 0 0 115px ;
                line-height: 15px;
            }
            .phone{
                font-size: 20px;
            }
        }
        
        
    }
}