@charset "UTF-8";
html, * {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /*-------------------------------РЕКЛАМА-----------------------------------------------*/
  /*------------------------------------Promoution------------------------------------------*/
  /*---------------------------------------------------------------Catalog---------------------------------------------*/
  /*--------------------Selects---------------*/
  /*-------------items-------------------*/
  /*--------------------------Specials-------------------------------*/
  /*------------------------------------test-drive-----------------------------------------------------------*/
  /*-------------------------------------------client---------------------------------------------------*/
  /*------------------------------------review---------------------------------------*/
}
#root #head {
  width: 1920px;
  height: 145px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#root #head .first-level {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px auto 0 auto;
}
#root #head .first-level .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 184px;
  height: 45px;
}
#root #head .first-level .title .title-company {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#root #head .first-level .title h1 {
  width: 147px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 7px;
}
#root #head .first-level .title h2 {
  width: 102px;
  font-size: 10px;
  font-weight: bold;
}
#root #head .first-level .search-input {
  width: 510px;
  height: 50px;
  background-color: #F1F4F9;
  border-radius: 10px;
  padding-left: 50px;
  border: none;
  font-family: Arial, FontAwesome;
  font-size: 15px;
}
#root #head .first-level .phone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  font-family: Arial, FontAwesome;
  font-size: 17px;
  margin-left: 20px;
}
#root #head .first-level .call {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 50px;
  background-color: #F1F4F9;
  font-size: 22px;
  margin-left: 15px;
  border-radius: 5px;
}
#root #head .first-level .call .call-text {
  color: black;
  text-decoration: none;
}
#root #head .second-level {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px auto 0 auto;
}
#root #head .second-level .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#root #head .second-level .nav-list .nav-list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  width: 155px;
  height: 45px;
}
#root #head .second-level .nav-list .catalog {
  font-family: Arial, FontAwesome;
  background-color: #373E54;
  color: #F1F4F9;
  border-radius: 5px;
}
#root #head .second-level .loc-basket {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-left: 140px;
}
#root #head .second-level .loc-basket .location {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
#root #head .second-level .loc-basket .location .location-icon {
  font-family: Arial, FontAwesome;
  margin-right: 5px;
}
#root #head .second-level .loc-basket .location #locations {
  border: none;
}
#root #head .second-level .loc-basket .basket {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-left: 10px;
}
#root #head .second-level .loc-basket .basket .basket-item {
  font-family: Arial, FontAwesome;
}
#root #head .second-level .loc-basket .basket .basket-item .basket-count {
  border-radius: 10px;
  padding: 1px 6px;
  background-color: #0074D4;
  color: white;
}
#root .advertising {
  width: 1920px;
  height: 640px;
  background: content-box url("img/background-slider.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .advertising .slide {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 12px 10px rgba(68, 88, 104, 0.25);
  background-color: #FFFFFF;
}
#root .advertising .title-advertising {
  width: 620px;
  margin-left: 300px;
}
#root .advertising .title-advertising .title-advertising-description {
  color: #2B3350;
  font-size: 54px;
}
#root .advertising .title-advertising .title-advertising-description .flag {
  position: relative;
  top: 14px;
  width: 75px;
  height: 55px;
}
#root .advertising .title-advertising .title-advertising-description-add {
  color: #2B3350;
  font-size: 22px;
  margin-top: 20px;
  line-height: 34px;
}
#root .advertising .title-advertising .title-entry {
  width: 300px;
  height: 85px;
  background-color: #0074D4;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: 0px 2px 10px #0074D4;
}
#root .advertising .tite-image {
  width: 425px;
  height: 600px;
}
#root .advertising .tite-image-2 {
  width: 455px;
  height: 505px;
  filter: blur(2px);
  position: relative;
  right: 40px;
}
#root .promoution-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 1920px;
  height: 300px;
}
#root .promoution-wrap .promoution-delivery {
  width: 365px;
  margin: 0 50px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#root .promoution-wrap .promoution-delivery .promoution-delivery-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 30px;
}
#root .promoution-wrap .promoution-delivery .promoution-delivery-img .promoution-delivery-img-basic {
  z-index: 1;
}
#root .promoution-wrap .promoution-delivery .promoution-delivery-img .promoution-delivery-img-background {
  position: relative;
  left: -30px;
  top: 30px;
  z-index: 0;
}
#root .promoution-wrap .promoution-delivery .promoution-delivery-text {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  font-size: 22px;
}
#root .promoution-wrap .promoution-delivery .promoution-delivery-text p {
  text-align: center;
}
#root .promoution-wrap .promoution-delivery .promoution-delivery-text-support {
  margin-top: 5px;
}
#root .promoution-wrap .promoution-delivery .promoution-delivery-text-support .promoution-link {
  color: black;
  text-decoration: none;
  color: #959FB2;
  font-size: 15px;
}
#root .catalog-wrap {
  width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
}
#root .catalog-wrap .catalog-title {
  color: #2B3350;
  font-size: 44px;
  font-weight: bold;
}
#root .catalog-wrap .catalog-lists-selects {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 65%;
  margin-top: 35px;
}
#root .catalog-wrap .catalog-lists-selects .catalog-list-selects {
  width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .catalog-wrap .catalog-lists-selects .catalog-list-selects .select-back {
  width: 280px;
  height: 60px;
  border: #E7EAEF solid 1px;
  border-radius: 8px;
}
#root .catalog-wrap .catalog-lists-selects .catalog-list-selects .select-back .select-back-title {
  color: #959AAE;
  font-size: 14px;
  position: relative;
  top: -11px;
  left: 25px;
  background-color: white;
}
#root .catalog-wrap .catalog-lists-selects .catalog-list-selects .select-back .select-zone {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
#root .catalog-wrap .catalog-lists-selects .catalog-list-selects .select-back .select-zone .select-img {
  margin-left: 30px;
}
#root .catalog-wrap .catalog-lists-selects .catalog-list-selects .select-back .select-zone select {
  font-size: 14px;
  font-weight: bold;
  color: #2B3350;
  border: none;
  width: 70%;
  margin-left: 10px;
}
#root .catalog-wrap .view-all-chair {
  width: 1170px;
  height: 80px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #F3F4F7;
}
#root .catalog-wrap .view-all-chair .show-all-chair {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
#root .chair-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1920px;
}
#root .chair-wrap .chair-items-wrap {
  display: grid;
  grid-template-columns: repeat(4, 330px);
}
#root .chair-wrap .chair-items-wrap .chair-items {
  width: 330px;
  text-align: center;
  margin: 10px 5px 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#root .chair-wrap .chair-items-wrap .chair-items .chair-img {
  width: 280px;
  height: 300px;
}
#root .chair-wrap .chair-items-wrap .chair-items .chair-description {
  font-size: 20px;
  width: 280px;
}
#root .chair-wrap .chair-items-wrap .chair-items .chair-price {
  width: 280px;
  font-size: 24px;
  font-weight: bold;
}
#root .chair-wrap .chair-items-wrap .chair-items .chair-last-price {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  left: 38px;
}
#root .chair-wrap .chair-items-wrap .chair-items .cross-price {
  position: relative;
  left: -68px;
}
#root .specials-wrap {
  width: 1920px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(243, 244, 247, 0.4117647059);
}
#root .specials-wrap .special-title {
  width: 1180px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
#root .specials-wrap .special-title .special-title-primary {
  font-size: 44px;
  font-weight: 900;
  color: #2B3350;
}
#root .specials-wrap .special-title .special-title-secondary {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #576077;
}
#root .specials-wrap .special-desctiption-wrap {
  display: flex;
  flex-direction: row;
}
#root .specials-wrap .special-desctiption-wrap .specials-decription {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  -moz-column-gap: 295px;
       column-gap: 295px;
  margin-top: 90px;
}
#root .specials-wrap .special-desctiption-wrap .specials-decription .specials-item {
  width: 400px;
  text-align: left;
  height: 100px;
  color: rgba(43, 51, 80, 0.2941176471);
}
#root .specials-wrap .special-desctiption-wrap .specials-decription .specials-item h1 {
  font-size: 22px;
}
#root .specials-wrap .special-desctiption-wrap .specials-decription .specials-item h2 {
  font-size: 15px;
}
#root .specials-wrap .special-desctiption-wrap .specials-decription .active {
  color: #2B3350;
}
#root .specials-wrap .special-desctiption-wrap .box-img {
  position: relative;
}
#root .specials-wrap .special-desctiption-wrap .box-img .special-description-img {
  position: absolute;
  left: 180px;
  top: -500px;
  width: 685px;
  height: 560px;
}
#root .test-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
#root .test-wrap .test-drive-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1800px;
  height: 515px;
  border-radius: 15px;
  background-image: url("https://s3-alpha-sig.figma.com/img/e62a/2ba9/f57e72a5576c76165bb8c77b76f78737?Expires=1659312000&Signature=HdijazS4ltmBqN3WPHNH2kVZTVba~tayG5oVVXSGwTyNyJQZpPAKGQELh2V1-FtexjeklPB5~gevQzV9DTwj-tcDUGu7uN0jezazDB839tlznFZjsi-mWeSyRrWZ2nTbH2sQ6X7zcfN7iB1NEU6~Q9t9ftVF75Lq9NShWMVs4QSsmzfB4aZ7~nGyuS4wpaodwJW~bRm6mdkYnosGlAiwM5nQZFBDqoAfb4aGN~fo9tWEjBLIkVLXDLUWDzB9rZoQ75m-yc5jAKrd2Sf87008IK9qUngCMl3zYOcf-yuOFWpnnt1l1oxMJoTCEUU~koXVFdgV9Rj~93JGmqevUIsPkQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-position: -100px 700px;
  transform: scale(-1, 1);
}
#root .test-wrap .test-drive-wrap .transform-test-drive {
  transform: scale(-1, 1);
  display: flex;
  flex-direction: row;
}
#root .test-wrap .test-drive-wrap .transform-test-drive .title-test-drive {
  width: 620px;
  margin-left: 300px;
  margin-top: 90px;
}
#root .test-wrap .test-drive-wrap .transform-test-drive .title-test-drive .title-test-drive-description {
  width: 680px;
  color: #2B3350;
  font-size: 44px;
  line-height: 55px;
  font-weight: 800;
}
#root .test-wrap .test-drive-wrap .transform-test-drive .title-test-drive .title-test-drive-description-add {
  width: 580px;
  height: 90px;
  color: #576077;
  font-size: 19px;
  font-weight: 700;
  margin-top: 16px;
  line-height: 34px;
}
#root .test-wrap .test-drive-wrap .transform-test-drive .title-test-drive .title-entry {
  width: 300px;
  height: 85px;
  background-color: #0074D4;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  box-shadow: 0px 2px 10px #0074D4;
}
#root .test-wrap .test-drive-wrap .transform-test-drive .tite-image {
  width: 233px;
  height: 366px;
  position: relative;
  top: 55px;
  left: -40px;
}
#root .test-wrap .test-drive-wrap .transform-test-drive .tite-image-2 {
  width: 535px;
  height: 570px;
  position: relative;
  top: -45px;
  left: -150px;
}
#root .client-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1920px;
  flex-direction: column;
  margin-top: 95px;
}
#root .client-wrap .client-title {
  font-size: 44px;
  color: #2B3350;
}
#root .client-wrap .client-list {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-top: 45px;
}
#root .client-wrap .client-list img {
  margin-left: 20px;
  margin-right: 20px;
}
#root .client-wrap .client-list #client-1 {
  width: 140px;
  height: 50px;
}
#root .client-wrap .client-list #client-2 {
  width: 140px;
  height: 100px;
}
#root .client-wrap .client-list #client-3 {
  width: 170px;
  height: 40px;
}
#root .client-wrap .client-list #client-4 {
  width: 180px;
  height: 60px;
}
#root .client-wrap .client-list #client-5 {
  width: 190px;
  height: 50px;
}
#root .client-wrap .client-list #client-6 {
  width: 140px;
  height: 50px;
}
#root .reviews-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1920px;
  margin-top: 100px;
  flex-direction: column;
}
#root .reviews-wrap .review-tietle {
  font-size: 44px;
  color: #2B3350;
}
#root .reviews-wrap .review-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root .reviews-wrap .review-items .slide {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 116, 212, 0.35);
  background-color: #FFFFFF;
}
#root .reviews-wrap .review-items .slide-right {
  position: relative;
  left: -40px;
}
#root .reviews-wrap .review-items .slide-left {
  position: relative;
  left: 40px;
}
#root .reviews-wrap .review-items .review-item {
  width: 570px;
  border-radius: 15px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
  margin: 30px 15px 0 15px;
}
#root .reviews-wrap .review-items .review-item .review-item-top {
  display: flex;
  flex-direction: row;
  margin: 40px 40px 10px;
}
#root .reviews-wrap .review-items .review-item .review-item-top .client-photo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#root .reviews-wrap .review-items .review-item .client-review-text {
  margin-left: 40px;
}
#root .reviews-wrap .review-items .review-item .client-review-text p {
  font-size: 16px;
  color: #2B3350;
  width: 480px;
}
#root .reviews-wrap .review-items .review-item .client-review-text .client-review-text-main-all {
  margin: 15px 0 40px 0;
  font-size: 16px;
  font-weight: 600;
}
#root .question-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1920px;
  flex-direction: column;
  margin: 150px 0 430px 0;
}
#root .question-wrap .question-call-background {
  background-image: url("https://s3-alpha-sig.figma.com/img/a76b/71b7/5a5663a0ffd8ecefb060a7cf849c0dcd?Expires=1659312000&Signature=HT2sb8UXdOx4NisNTcOe3AJz5K0YRarZ0azfDwk75vFHkkNeU8OgEXyJxesCWkfMM3P1x4bMEjAjZM6UD-kSbvm-XHS3DA9MIdxg4z~3nL~JR8izOperBGxuhkglk9mnpiXI4O3k6m~nRTktxT18DwqNAACqwx-KMnqARHiAKqaW3jhHD3HSwh5tnXdGDW-NWRk50vNgtE10-dflQLajS9kTtAMwdhfgZG1uyFRmsm5OXdBIPSqak02wuCGxfWPJXf-w0JWn6n0HwjAMLa6lOj7dHWaU~drdKtUs7gxhO5OH4AK9wpDVg7JAj6fxGuvU9pE8~EKoasp1u6M~HBL8hw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  border-radius: 15px;
}
#root .question-wrap .question-call-background .question-call-wrap {
  width: 1800px;
  height: 530px;
  background-color: rgba(43, 51, 80, 0.9176470588);
  border-radius: 15px;
}
#root .question-wrap .question-call-background .question-call-wrap .question-call-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root .question-wrap .question-call-background .question-call-wrap .question-call-description .question-call-description-text {
  width: 570px;
  color: white;
  position: relative;
  left: -130px;
  top: -75px;
}
#root .question-wrap .question-call-background .question-call-wrap .question-call-description .question-call-description-text h2 {
  font-size: 44px;
  font-weight: 900;
}
#root .question-wrap .question-call-background .question-call-wrap .question-call-description .question-call-description-text h3 {
  font-size: 26px;
  margin-top: 10px;
}
#root .question-wrap .question-call-background .question-call-wrap .question-call-description .question-call-description-img {
  width: 422px;
  height: 530px;
}
#root .question-wrap .question-call-background .question-call-wrap .question-call-description .question-call-description-img .hand-phone {
  width: 100%;
  height: 100%;
  filter: blur(5px);
}
#root .question-wrap .question-call-background .question-call-wrap .contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  top: -245px;
}
#root .question-wrap .question-call-background .question-call-wrap .contact-form .contact-name {
  width: 420px;
  font-family: Arial, FontAwesome;
  background-color: rgba(87, 96, 119, 0.4235294118);
  padding: 30px 0 30px 50px;
  border-radius: 15px;
  border: none;
  margin-left: 20px;
  box-shadow: 0px 6px 16px rgba(255, 255, 255, 0.08);
}
#root .question-wrap .question-call-background .question-call-wrap .contact-form .contact-name::-moz-placeholder {
  color: white;
  font-size: 18px;
}
#root .question-wrap .question-call-background .question-call-wrap .contact-form .contact-name:-ms-input-placeholder {
  color: white;
  font-size: 18px;
}
#root .question-wrap .question-call-background .question-call-wrap .contact-form .contact-name::placeholder {
  color: white;
  font-size: 18px;
}
#root .question-wrap .question-call-background .question-call-wrap .contact-form .order-call {
  width: 300px;
  height: 75px;
  color: white;
  border-radius: 15px;
  border: none;
  background-color: #0074D4;
  margin-left: 20px;
  font-size: 18px;
  box-shadow: 0px 43px 50px rgba(0, 116, 212, 0.2);
}
#root .question-wrap .map {
  position: absolute;
  top: 4415px;
  z-index: -2;
}
#root .question-wrap .map-point {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 4915px;
  z-index: -1;
}
#root footer {
  width: 1920px;
  height: 280px;
  background-color: #191E32;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root footer .footer-title {
  width: 220px;
}
#root footer .footer-title .title-company .title {
  display: flex;
  flex-direction: row;
}
#root footer .footer-title .title-company .title h1 {
  color: white;
  font-size: 24px;
  margin-left: 10px;
}
#root footer .footer-title .title-company h2 {
  font-size: 10px;
  color: #959AAE;
  margin-left: 40px;
}
#root footer .footer-title .footer-title-item {
  padding-bottom: 5px;
  color: #959AAE;
  font-size: 14px;
}
#root footer .footer-title .politic-conf {
  margin-top: 15px;
}
#root footer .footer-title .guard-rule {
  margin-top: 5px;
}
#root footer .footer-nav {
  display: flex;
  flex-direction: column;
}
#root footer .footer-nav a {
  color: black;
  text-decoration: none;
  font-size: 17px;
  margin: 10px 0 0 75px;
  color: #E7EAEF;
  line-height: 15px;
}
#root footer .footer-contact {
  display: flex;
  flex-direction: column;
}
#root footer .footer-contact a {
  color: black;
  text-decoration: none;
  font-family: Arial, FontAwesome;
  font-size: 17px;
  color: #E7EAEF;
  margin: 15px 0 0 115px;
  line-height: 15px;
}
#root footer .footer-contact .phone {
  font-size: 20px;
}
#root .other {
  height: 900px;
  width: 1920px;
  background-color: aquamarine;
}/*# sourceMappingURL=header.css.map */